pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn
tensorflow
gdown
plotly
#multiprocessing


jupyter
ipykernel
ipython
pyarrow
xgboost
lightgbm

# Feature Engineering
neurokit2


#API
fastapi
uvicorn


## CICD ##
black
pytest
